.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

.search-container {
  background-color: #f1f5f9;
  border: 0px solid transparent;
  display: flex;
  align-items: center;
  width: 85%;
  border-radius: 10px;
}

.search-input {
  border: 0px solid transparent;
  background-color: transparent;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 700;
  padding: 10px;
  color: #64748b;
  outline: none;
}

.search-icon {
  font-size: 20px;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 0px;
}
.category-heading {
  text-align: start;
  font-size: 23px;
  font-family: 'Roboto';
  font-weight: 700;
  color: #0f172a;
}
.category-name {
  list-style-type: none;
  cursor: pointer;
}

.category {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto';
  margin-top: 10px;
  background-color: transparent;
  border: 0px solid transparent;
  cursor: pointer;
}

.rating {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  cursor: pointer;
}

.rating-button {
  background-color: transparent;
  border: 0px solid transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0px;
}

.rating-image {
  width: 230px;
  height: 50px;
}

.up {
  font-size: 23px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #64748b;
  margin-left: 0px;
  padding-right: 20px;
}

.clear-button {
  border: 1px solid #0967d2;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
  padding: 10px;
  color: #0967d2;
  border-radius: 10px;
}

.active {
  color: #0967d2;
}
